* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

header {
  background-color: #ffffff;
  /* padding-top: 16px; */
}

nav {
  border: 1px solid #000103;
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px 16px 120px;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
}

nav .menu a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.btn {
  background-color: #469165;
  color: #ffffff;
  padding:12px 16px ;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
